*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto&display=swap');

html{
    font-size: 10px;
    font-family: 'Comfortaa', cursive;
}

body{
    background-color: rgba(218, 34, 255, 0.1);
}

#wrapper{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    width: 100%;
    max-width: 40rem;
    background-color: #fff;
    position: relative;
    padding: 10rem 0;
    box-shadow: 0 1px 5rem rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1;
}

.form-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    background: linear-gradient(to left, #bdc3c7, #2c3e50) ;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    z-index: -1;
}

.form-heading{
    font-size: 2.5rem;
    color: #fff;
    position: absolute;
    top: 3.5rem;
    left: 10rem;
}

form{
    transform: translateX(10rem);
    padding: 2rem 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 5rem rgba(0, 0, 0, 0.1);

}

.input-group{
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: baseline;
}

.input-group input{
    position: relative;
    width: 100%;
    padding: 1rem 0;
    margin-top: .5rem;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: rgba(22, 37, 56, 0.918);
}

.input-group > i{
    font-size: 2rem;
    margin-right: 1rem;
    color: rgba(22, 37, 56, 0.918);
}

.input-group .bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 1px;
}

.input-group .bar::before{
    content: '';
    position: absolute;
    background-color: rgba(22, 37, 56, 0.918);
    width: 0;
    height: 2px;
    transition: width 450ms;

}

.input-group input:focus + .bar::before{
    width: 100%;
}

.input-group button{
    margin: 3rem auto;
    padding: 1rem 5rem;
    background: linear-gradient(to left, #bdc3c7, #2c3e50) ;
    border: none;
    color: #fff;
    font-size: 2.5rem;
    border-radius: 3rem;
    cursor: pointer;
}
.input-group button:focus,
.input-group button:hover{
    background: linear-gradient(to right, #5b666e, #2c3e50) ;
}

.switch-login{
    text-align: center;
}
.switch-login a{
    text-decoration: none;
    color: rgba(48, 116, 204, 0.918);
    font-size: 1.5rem;
}

.switch-login a span{
    color: rgb(8, 70, 121);
}
.switch-login a span:hover{
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(8, 70, 121);
}

@media screen and (max-width: 700px){
    .form-container::before{
        height: 10rem;
    }

    .form-heading{
        left: 50%;
        transform: translateX(-50%);

    }

    form{
        border-radius: initial;
        transform: initial;
        box-shadow: none;
    }
}

